<div class="page-search">
  <h1>Recherche d'annonces</h1>

  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-4 control-label">Modele du téléphone : </label>
      <div class="checkbox">
        <label><input type="checkbox"> Iphone 5</label>
        <label><input type="checkbox"> Iphone 6</label>
        <label><input type="checkbox"> Samsung galaxy S5</label>
        <label><input type="checkbox"> Samsung galaxy S6</label>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">Type de réparation </label>
      <div class="checkbox">
        <label><input type="checkbox"> Écran</label>
        <label><input type="checkbox"> Bouton power</label>
        <label><input type="checkbox"> Batterie</label>
        <label><input type="checkbox"> Oxidation</label>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">Votre code postal </label>
      <input class="form-control" id="cp">
    </div>



    <button type="submit" class="btn btn-default">Envoyer</button>

  </form>
</div>
