#annonceur-form{
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	/*align-items: center;*/
	/*text-align: center;*/

	.new_annonceur{
		width: 60%;

		.form-control{
			margin-bottom: 10px;

		}	
	}	
}
