.show-profile {
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.page-profil{
	width:700px;
	height:200px;
	display:flex;
	flex-direction: row;
	margin: auto;
}
.page-profil h1{
	justify-content: center;
	margin: auto;
}

.affiche-profil{
	display:flex;
	width:1000px;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
}

.profil{
	display:flex;
	flex-direction: column;
}

.image-profil{
	width: 503px;
	height: 503px;
	border: 1px solid black;
	border-radius: 5px;
}
.image-profil img{
	width: 500px;
	height: 500px;
	border-radius: 5px;
}

/*TEST */
.bloc-info{
	width:300px;
	height: 50px;
	border-radius: 25px;
	border: 1px solid black;
	margin-top: 10px;
	margin-bottom: 10px;
}
.bloc-info p{
	margin-left: 10px;
	line-height:50px;
	font-size:15px;
}
.bloc-info p i{
	font-size: 15px;
	margin-right:10px;
}

/*Fin test */

.profil-description{
	width:1000px;
	margin: auto;
	text-align: justify;
}

.profil a{
	margin: auto;
	font-size: 20px;
	color: white;
	margin-bottom: 30px;
	text-align: center;
	width:100px;
	height:30px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: black;
}
h4 span{
	margin-left: 25px;
}
