<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @modele_telephone.nom %>
</p>

<%= link_to 'Edit', edit_modele_telephone_path(@modele_telephone) %> |
<%= link_to 'Back', modele_telephones_path %>
