.image-home{
  position: fixed;
  margin-top: -50px;
  height: 110%;
  width: 100%;
  left: 0;
  top: 0;
}

#fixed-home{
  position:absolute;
  width: 100%;
  height: 100%;

}

.h1-home{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-family: robotoBold;
  font-size: 3em;
  color: white;
}

.menu-home{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: auto;
  width: 1000px;
  height: 500px;
  justify-content: center;
  align-items: center;
  justify-content: space-between;

}

.item-home{
  width: 250px;
  height: 250px;
  border: 1px solid white;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-home a{
  color: white;
  font-family: robotoBold;
  font-size: 1.5em
}
a:link{
  text-decoration: none;
}
