<%= image_tag("home.jpg", :alt => "home", :class => "image-home") %>

<div id="fixed-home">
  <div class="home">
    <h1 class="h1-home">Réparation de smartphones</h1>
    <div class="menu-home">
      <div class="item-home">
        <a href="/annonceur">Me connecter</a>
      </div>
      <div class="item-home">
        <a href="/annonceurs/new">M'inscrire</a>
      </div>
    </div>
  </div>
</div>
