
<div class="content">

  <div class="home">
    <h1 class="h1-home">Réparation de smartphones</h1>
    <div class="menu-home">
      <div class="item-home">
        <a href="/annonceur">Passer mon annonce</a>
      </div>
      <div class="item-home">
        <a href="/annonces">Voir les annonces</a>
      </div>
    </div>
  </div>
</div>
